/** CUSTOM CHARACTER SELECT SCREEN */

.CharacterPickMainPanel
{
    width: 100%;
    height: 100%;
}
#WelcomeScreen,
#ChooseClass {
    width:100%;
    height:100%;
}
.logo-full {
    align:center top;
    margin-top:200px;
}
.logo-small {
    margin-top:12px;
    margin-left:70px;
}
#LoadingOverlay {
    height:100%;
    width:100%;
    z-index:2;
    
    background-color:#000000;
    
    transition-property: opacity;
    transition-duration: 0.2s;
    opacity:1.0;
}
#CharacterPanelContainer
{
    height:100%;
    width:100%;
    
    transition-property: opacity;
    transition-duration: 0.45s;
    opacity:1.0;
}

/* ********************** */
/* Confirm Delete Dialog */
#ConfirmationOverlay {
    height:100%;
    width:100%;
    z-index:2;
    
    background-color:#000000;
    
    transition-property: opacity;
    transition-duration: 0.4s;
    opacity:0.0;
}
#DeleteConfirmBox {
    z-index:3;
    align:center center;
    transition-property: position, opacity;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    position:-2% -20% 0;
    opacity:0.0;
}
#DeleteCharacterButton {
    transition-property:saturation;
    transition-duration: 2s;
    saturation:1.0;
}
.delete-confirm {
    height:100%;
    width:100%;
}
#DeleteCharacterButton {
    align:right bottom;
    margin-right:20px;
    margin-bottom:15px;
}
#CancelDeleteButton {
    align:left bottom;
    margin-left:15px;
    margin-bottom:15px;
}
.ConfirmDeleteText {
    color: #cb5154;
    text-shadow:1px 1px 4px 2.0 #444444c0;
    font-size:22px;
    margin-top:18px;
    margin-left:33px;
}
.ConfirmDeleteDetail {
    color:#c0c0c0;
    margin-top:60px;
    margin-left:40px;
    margin-right:40px;
    font-size:18px;
    width:420px;
}

/* ****************************************************************************************** */
/* Existing Character Select Screen */
.character-details {
    align:center center;
    margin-top:120px;
}
.character-details.slotId0 {
    margin-right:950px;
}
.character-details.slotId2 {
    margin-left:950px;
}

/* Two rows of slots. */
.double-slots .character-details {
    margin-top:-50px;
}
.double-slots .logo-full {
    margin-top:120px;
}

.character-details.slotId3,
.character-details.slotId4,
.character-details.slotId5 {
    margin-top:550px;
}
.character-details.slotId3 {
    margin-right:950px;
}
.character-details.slotId5 {
    margin-left:950px;
}
.character-details-window {
    /*transform: translateY(-30px);*/
    margin-top:30px;
    margin-left:28px;
}
.character-details #CharacterDetailsName {
    color:#e6e6f0;
    text-shadow:1px 1px 4px 2.0 #444444c0;
    font-size:26px;
    margin-top:18px;
    margin-left:80px;
}
.character-details #CharacterDetailsInfo {
    color:#f8e3bf;
    text-shadow:1px 1px 4px 2.0 #333333b0;
    font-size:18px;
    margin-top:46px;
    margin-left:20px;
    width:380px;
    height:100px;
}
.character-details #CharacterDetailsInfo .detail {
    color:#e6e6f0;
}
.character-details-header .hero-clipper {
    height:66px;
    width:66px;
    border-radius:50%;
    overflow:clip;
}
.character-details-header .hero-clipper .overlay {
    margin-left:3px;
    margin-top:3px;
}
.character-details-header #CharacterDetailsPortrait {
    width: 66px;
    height: 74px;
}
.character-details #LoadCharacterButton,
.character-details #CreateCharacterButton {
    align:right bottom;
    margin-right:20px;
    margin-bottom:20px;
}
.character-details #DeleteCharacterButton {
    align:right top;
    margin-right:20px;
    margin-top:30px;
}

/* ****************************************************************************************** */

.stage {
    transition-property: opacity;
    transition-duration: 0.45s;
}
#WelcomeScreen {
    opacity: 1.0;
}
#ChooseClass {
    opacity: 0.0;
}
/** Load Existing Character **/
#CharacterBlocks {
    height:100%;
    width:100%;
}

#ClassDetails {
    align:left center;
    margin-left:20px;
    opacity: 0.0;
    transition-property: opacity;
    transition-duration: 0.45s;
}
#ClassDetailsHeader {
    /*transform: translateY(-30px);*/
}
#ClassDetailsWindow {
    /*transform: translateY(-30px);*/
    margin-top:30px;
    margin-left:28px;
}
#ClassDetails #ClassDetailsName {
    color:#e6e6f0;
    text-shadow:1px 1px 4px 2.0 #444444c0;
    font-size:26px;
    margin-top:18px;
    margin-left:80px;
}
#ClassDetails #ClassDetailsInfo {
    color:#f8e3bf;
    text-shadow:1px 1px 4px 2.0 #333333b0;
    font-size:18px;
    margin-top:46px;
    margin-left:20px;
    width:380px;
    height:100px;
}
#ClassDetailsHeader .hero-clipper {
    height:66px;
    width:66px;
    border-radius:50%;
    overflow:clip;
}
#ClassDetailsHeader .hero-clipper .overlay {
    margin-left:3px;
    margin-top:3px;
}
#ClassDetailsHeader #ClassDetailsPortrait {
    width: 66px;
    height: 74px;
}
#ClassDetails #ConfirmClassPick {
    align:right bottom;
    margin-right:20px;
    margin-bottom:20px;
}
.dialog-design {
    border:2px solid #585f63;
    align:center center;
    height:40px;
    width:120px;
}
/** BACKGROUND **/
.background-scene {
    width:100%;
    height:100%;
    background-color: #000000;
}

#CharacterClass {
    color:#f8e3bf;
    text-shadow:1px 1px 4px 2.0 #333333b0;
    font-size:18px;
    margin-top:15px;
    margin-left:20px;
}

/** Choose Selector **/
.character-pick-names {
    align:right center;
    flow-children:down;
    margin-right:100px;
}
.character-pick-names .button {
    height:56px;
    width:210px;
    margin-top:5px;
    margin-left:18px;
}
.character-pick-names .first.button {
    margin-top:22px;
}
.character-pick-names .button:hover {
    background-image:url("file://{images}/character_pick/character_pick_names_hover.png");
    opacity:0.5;
}
.character-pick-names .button:active {
    background-image:url("file://{images}/character_pick/character_pick_names_activate.png");
}

#PickBack {
    align:right center;
    margin-top:500px;
    margin-right:155px;
}
#TopGradient
{
    width: 100%;
    height: 150px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000 ), to( #00000000 ) );
}

#PickClass {
    align:center top;
    margin-top:160px;
    margin-right:150px;
}
.button Label {
    align:center center;
    font-size:22px;
    color:#f8e3bf;
    text-shadow:1px 1px 4px 2.0 #333333b0;
    
    line-height:22px;
    /* Line height doesn't seem to help, and needs slight adjustment. */
    margin-top:4px;
    margin-left:2px;
}
.button {
    wash-color:#dddddd;
}
.button:hover {
    wash-color:#ffffff;
}
.button:active {
    wash-color:#aaaaaa;
}
/** CHARACTER PANELS **/
.hide {
    visibility: collapse;
}
.CharacterPanel {
    width: 50%;
    height: 100%;
    
    wash-color: #333333;
    saturation: 0.5;
    blur: gaussian(1, 1, 1);
}
.CharacterPanel.Right {
    align: right center;
}
.CharacterPanel:hover {
    sound: "General.Buttonrollover";
}

.Ray
{
    width: 100%;
    height: 100%;
    
    transition-property: opacity;
    transition-duration: 0.1s;
    opacity:0.0;
}

.TopText,
.CharacterName
{
    width: 100%;
    
    transform: translateY(10px);
    transition-property: transform;
    transition-duration: 0.1s;
    
    horizontal-align: center;
    vertical-align: bottom;
    text-align: center;
    
    font-family: Radiance, FZLanTingHei-R-GBK, TH Sarabun New, Gulim,MingLiU;
    font-size: 72px;
    font-weight: bold;
    letter-spacing: 6px;
    color: white;
    text-shadow: 1px 1px 4px 1.0 #444444;
}
.TopText {
    vertical-align:top;
}

.Character
{
    width: 100%;
    height: 100%;
    
    transform: translateY(10px);
    transition-property: transform;
    transition-duration: 0.1s;
}

/** ANIMATIONS **/

.CharacterPanel:hover {
    wash-color:none;
    saturation: 1.0;
    blur:none;
}

.CharacterPanel:hover .CharacterName {
    transform: translateY(0px);
}

.CharacterPanel:hover .Character
{
    transform: translateY(0px);
}
.CharacterPanel:hover .Ray {
    opacity: 1.0;
    transform: translateY(0px);
}

/** MISC **/

.PauseBackground
{
    saturation: 0.3;
}

/** Better more friendly dashboard button... **/

#DashboardButton
{
    tooltip-position: bottom;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 12px;
    margin-left: 17px;
    vertical-align: top;
    horizontal-align: left;
    background-position: center;
    opacity: 0.5;
    wash-color: #CDF;
    
    transition-property: opacity;
    transition-duration: 0.2s;
    z-index:2;
}

#DashboardButton:hover
{
    opacity: 1.0;
}

#DashboardButton:active
{
    opacity: 1.0;
}
