
.progress-container {
    horizontal-align:center;
    vertical-align: bottom;
    margin-bottom:145px;
}
.progress-bar {
    background-color:rgba(0,0,0,0.2);
    width:726px;
    height:21px;
    margin-left:-1px;
    
    margin-top:65px;
    /* border-radius:6px; */
    border:1px solid rgba(0,0,0,0.2);
    box-shadow:1px 1px 6px rgba(0,0,0,0.3);
    background-color:rgba(0,0,0,0.1);
}
.progress {
    transition:width 0.2s linear 0s;
    height:100%;
    
    background-color:rgba(218,165,32, 0.6);
    border-right:4px solid rgba(238,195,72, 1);
    width:0%;
    border-radius:0px 2px 2px 0px;
}
