.mainhud {
    width:100%;
    height:100%;
}

.unitframe {
    align:left top;
    margin-left:50px;
    margin-top:5px;
}
.hide {
    visibility: collapse;
}
.unitframe .hero {
    horizontal-align:left;
    margin-left:4px;
    margin-top:4px;
    height:77px;
    width:77px;
    border-radius:50%;
    overflow:clip;
}
.unitframe #HeroPortrait {
    width: 75px;
    height: 100px;
}
.unitframe .overlay {
    transform: translateY(-1px);
}
.unitframe .level {
    margin-top:65px;
    margin-left:50px;
}
.unitframe .level .level-text {
    align:center center;
    color:#aaaaaa;
    font-weight:bold;
    font-size:16px;
    text-shadow:1px 1px 4px 2.0 #333333b0;
    transform: translateX(1px);
}

.unitframe .health {
    background-image:url("file://{images}/unitframes/big_health.png");
    margin-left:79px;
    margin-top:17px;
    width:265px;
    height:29px;
    transition:width 0.5s linear 0s;
    border-top-right-radius:7px;
    border-bottom-right-radius:4px;
    border-right:1px solid rgba(33,33,33,0.5);
}
.unitframe .mana {
    background-image:url("file://{images}/unitframes/big_mana.png");
    margin-left:79px;
    margin-top:52px;
    width:246px;
    height:19px;
    transition:width 0.5s linear 0s;
    border-top-right-radius:3px;
    border-bottom-right-radius:6px;
    border-right:1px solid rgba(33,33,33,0.5);
}
.unitframe #HeroHealthBarValue {
    margin-left:86px;
    margin-top:22px;
    width:265px;
    height:29px;
    font-size:20px;
    color:#dd0000;
    text-shadow:1px 1px 4px 2.0 #660000b0;
}
.unitframe #HeroManaBarValue {
    margin-left:86px;
    margin-top:52px;
    width:246px;
    height:19px;
    font-size:14px;
    color:#0099dd;
    text-shadow:1px 1px 4px 2.0 #002266b0;
}

/* This should be children flow right. */
.unitframe .point {
    visibility:collapse; /* Unusued at present. */
    vertical-align:bottom;
    margin-left:100px;
    margin-bottom:18px;
}
.unitframe .point .point-inner {
    align:center center;
}
.unitframe .point.point2 {
    margin-left:125px;
}
.unitframe .point.point3 {
    margin-left:150px;
}
.unitframe .point.point3 .point-inner {
/*    visibility:collapse;
    opacity:0.0;
*/}
