.inventoryhud {
    align:center center;
}
.inventory-container {
    align:center center;
    /*border:1px solid #00ff00;*/
}
.inventory-container .header-label {
    color:#dab59b;
    vertical-align:center;
    margin-left:85px;
    font-size:23px;
    transform:translateY(-3px);
}
.inventory-container .close-label {
    margin-top:24px;
    margin-left:290px;
    wash-color:#eeeeee;
}
.inventory-container .close-label:hover {
    wash-color:#ff9999;
}
.backpackLabel, .levelLabel {
    color:#999;
}

.inventory-dialog {
    align:center center;
    /*border:1px solid #ff0000;*/
    flow-children:right;
    margin:40px;
}
.inventory-dialog .left {
    /*border:1px solid #0000ff;*/
    width:47%;
    height:100%;
}
.inventory-dialog .classname {
    align:center top;
    margin-top:50px;
    color:#dab59b;
    font-size:24px;
}
.inventory-dialog .levelLabel {
    align:center top;
    margin-top:80px;
    font-size:16px;
}
.inventory-dialog .doll {
    align:center center;
    margin-bottom:10px;
    border-bottom:1px solid #22222266;
}

.inventory-dialog .right {
    /*border:1px solid #ff00ff;*/
    width:53%;
    height:100%;
}
.inventory-dialog .backpackLabel {
    align:center top;
    margin-top:80px;
    font-size:16px;
}
.equipment-container {
    /*border:1px solid #ff0000;*/
    width:100%;
    height:100%;
}
.backpack-container {
    /*border:1px solid #ffff00;*/
    flow-children:down;
    width:100%;
    margin-top:112px;
}
.backpack-container .ItemRow {
    margin-bottom:0;
}
.gold-coins {
    flow-children:right;
    align:right bottom;
    padding:0 20px 10px 0;
}
.gold-coins Image {
}
.gold-count {
    color:#ffd700;
    font-size:20px;
    line-height:32px;
}

.equipment-container .item {
    background-position: center center;
    background-repeat: no-repeat;
}

.equipment-container #slot1 {
    background-image:url("file://{images}/inventory/slots/slot_helm.png");
}
.equipment-container #slot2 {
    background-image:url("file://{images}/inventory/slots/slot_necklace.png");
}
.equipment-container #slot3 {
    background-image:url("file://{images}/inventory/slots/slot_chest.png");
}
.equipment-container #slot4 {
    background-image:url("file://{images}/inventory/slots/slot_gloves.png");
}
.equipment-container #slot5 {
    background-image:url("file://{images}/inventory/slots/slot_pants.png");
}
.equipment-container #slot8,
.equipment-container #slot9 {
    background-image:url("file://{images}/inventory/slots/slot_ring.png");
}
.equipment-container #slot10 {
    background-image:url("file://{images}/inventory/slots/slot_boots.png");
}
.equipment-container #slot11 {
    background-image:url("file://{images}/inventory/slots/slot_weapon.png");
}
.equipment-container #slot12 {
    background-image:url("file://{images}/inventory/slots/slot_offhand.png");
}

 .hide { visibility:collapse; }

.equipment-panel-group {
    flow-children:down;
}
#equipment_left {
    align:left center;
    margin-left:30px;
    margin-bottom:100px;
}
#equipment_right {
    align:right center;
    margin-right:30px;
    margin-bottom:100px;
}
#equipment_bottom {
    flow-children:right;
    align:center bottom;
}

.backpack-container .item {
    width:70px;
    height:52px;
}
.equipment-container .item {
    width:76px;
    height:60px;
    margin:0 10px 40px;
}
.backpack-container .btn,
.equipment-container .btn {
    width:100%;
    height:100%;
    align:center center;
}
.backpack-container .ItemImage ,
.equipment-container .ItemImage {
    align: center center;
    width: 90%;
    height: 90%;
    border-radius:2px;
}
/* Odd proportionality issues... */
.equipment-container .has-item .ItemImage {
    margin-top:-1px;
    margin-left:2px;
    width: 84%;
    height: 77%;
    border-radius:2px;
}
.backpack-container .btn {
    background-image:url("file://{images}/inventory/inventory-backpack-placeholder.png");
}
.backpack-container .ItemImage {
    background-image:none;
}
.equipment-container .ItemImage {
    background-image:url("file://{images}/inventory/inventory-equipment-placeholder.png");
}

.backpack-panel-group {
    margin:0;
    flow-children:right;
    align: center center;
}

.ItemImage.item_rarity_junk
{
    border:1px solid #999999;
    box-shadow: inset 0 0 5px 0 #99999944;
}
.ItemImage.item_rarity_quest
{
    border:1px solid #ffffb2;
    box-shadow: inset 0 0 5px 0 #ffffb244;
}
.ItemImage.item_rarity_common
{
    border:1px solid #ffffff;
    box-shadow: inset 0 0 5px 0 #ffffff44;
}
.ItemImage.item_rarity_uncommon
{
    border:1px solid #1eff00;
    box-shadow: inset 1px 0 5px 0 rgba(30,255,0,0.25);
}
.ItemImage.item_rarity_rare
{
    border:1px solid #0070ff;
    box-shadow: inset 0 0 5px 0 #0070ff44;
}
.ItemImage.item_rarity_epic
{
    border:1px solid #a335ee;
    box-shadow: inset 1px -1px 8px 1px #a335ee44;
}
.ItemImage.item_rarity_legendary
{
    border:1px solid #ff8000;
    box-shadow: inset 0 0 5px 0 #ff800044;
}

.dragging_from {
    saturation: 0.5;
    wash-color: #808080;
}

.DropTargetHighlight
{
    align:center center;
    width: 88%;
    height: 82%;
    border-radius:2px;
    background-color: gradient( radial, 50% -20%, 0% 0%, 80% 80%, from( #999999 ), to( #FFFFFF00 ) );
    opacity: 0.0;
}
.compatible_drop_target .DropTargetHighlight
{
    background-color: gradient( radial, 50% -20%, 0% 0%, 80% 80%, from( #999900 ), to( #FFFF0000 ) );
    opacity: 0.2;
}
.equipment-container .empty .DropTargetHighlight
{
    width:80%;
    margin-left:2px;
    height:73%;
}
.has-item .DropTargetHighlight
{
    width:90%;
    height:90%;
}
.equipment-container .has-item .DropTargetHighlight
{
    width:82%;
    height:76%;
}
.potential_drop_target .DropTargetHighlight
{
    background-color: gradient( radial, 50% -20%, 0% 0%, 80% 80%, from( #999999 ), to( #FFFFFF00 ) );
    opacity: 0.4;
}
.bad_drag_target .DropTargetHighlight
{
    background-color: gradient( radial, 50% -20%, 0% 0%, 80% 80%, from( #990000 ), to( #FF000000 ) );
}


/** ************************************************** **/
/* Shop */

.inventory-dialog .left.shop,
.inventory-dialog .right #ShopBackpack {
    visibility:collapse;
}
.shop-dialog.inventory-dialog .left.shop,
.shop-dialog.inventory-dialog .right #ShopBackpack {
    visibility:visible;
}

.shop-dialog .left.inventory {
    visibility:collapse;
}
.shop-dialog .backpackLabel {
    visibility: collapse;
}
.shop-dialog .right {
    width:50%;
    padding-right:15px;
}
.shop-dialog .left.shop {
    padding-left:15px;
    width:50%;
    flow-children:down;
}
.shop-dialog .left.shop #ForSaleLabel {
    margin-top:85px;
}
.shop-dialog .left.shop .backpack-container {
    margin-top:0;
}
.shop-dialog .left.shop #BuyBackLabel {
    margin-top:10px;
}
.shop-dialog .left.shop #BuyBack {
    margin-top:10px;
}
.shop-dialog .right #ShopBackpack {
    margin-top:80px;
}
